body{
	text-align: center;
}
.container {
	margin: 0 auto;  
	width: 720px;
	font-family: 'Open Sans', sans-serif;
}

header ul
{
	list-style-type: none;
	margin: 0;  
	padding: 0;
}

header a
{
	display: block;
	width: 100px;
}

header li
{
	display: inline-block;
}

header{
	border-bottom: 1px dotted grey;
	padding: 10px;
}

.content{
	padding: 30px;
}

footer{
	border-top: 1px dotted grey;
	padding: 10px;
}

