.container {
  margin: 0 auto;  
  width: 940px;
	font-family: 'Open Sans', sans-serif;
}

footer{
	border-top: 1px dotted grey;
	padding: 10px;
}

.post{
	padding: 20px;
}

h1{
	text-align: center;
	font-size: 50px;
}

.content{
	padding: 30px;
}
