<h1><%= @coach_message if @coach_message%></h1>

<% puts "self : #{self}" %>
<% puts "self class: #{self.class}" %>
<% puts "self instance variables from index template : #{self.instance_variables}" %>

<form action="/coach" method="post">
	<form>
		<label for="user_message">What ?</label>
		<input type="text" name="what" id="user_message">
		<input type="submit" value="Just say it !">
	</form>
</form>

<br>	
	
