.container {
  margin: 0 auto;  
  width: 940px;
	font-family: 'Open Sans', sans-serif;
	padding
}

nav{
	position: fixed;
	float: left;
	top: 120px;
}

.content{
	float: right;
	width: 750px;
	padding-top: 120px;	
}


header{
	position: fixed;
	background: white;
	width: 940px;
	z-index: 1030;
	border-bottom: 1px solid grey;
}

header h1{
	text-align: center;
	font-size: 50px;
}




